# env files.env**/.env.env.**.env.local!.env.example# Python junk__pycache__/*.py[cod]*.pyo*.pyd*.egg-info/.eggs/build/dist/pip-wheel-metadata/# DB & local data*.sqlite*.sqlite3*.dbauth.dbinstance/# Caches.pytest_cache/.tox/.mypy_cache/.coverage*htmlcov/.cache/# IDE / OS.vscode/.idea/.DS_StoreThumbs.db